@model IEnumerable<Final.Models.Consultas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.precio_consulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.precio_consulta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tipo_consulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.tipo_consulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tipo_consulta })
        </td>
    </tr>
}

</table>
