@model Final.Models.Recaudado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recaudado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recaudado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recaudado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_doctor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
