@model Final.Models.Citas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Citas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_bd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_bd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_sangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_sangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultas.precio_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultas.precio_consulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
