@model IEnumerable<Final.Models.Citas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_bd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_sangre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seguro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultas.precio_consulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_bd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_sangre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seguro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultas.precio_consulta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
